img {
	vertical-align: text-top;
	overflow: hidden;
	border: 15px solid #5A9BD5;
	border-radius: 8px;
 }
 p.bold
 {
	font-weight: bold;
	color: #5A9BD5;;
 }
 .carousel-inner {
   width: 800px;
   background-color: #5A9BD5;;
   margin: auto;

}
.carousel-inner > .item > img {  
 margin: auto;
 height: 50px;
 width: auto;
}
button {
	border-radius: 12px;}
button:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #5A9BD5;
}
button.email {
	border-radius: 12px;
background-color: #5A9BD5;}

button.email:hover { 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
h3{
	border: 8px solid #ddd;
	border-radius: 8px;
	border-color: #5A9BD5;
 }